name: Docker Images
on:
  push:
    branches:
      - fix
  # This workflow should be triggered by pushes to micro/micro main branch
  # It builds the docker images as required by m3o
  repository_dispatch:
    types: [micro_release]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone micro repo
        uses: actions/checkout@v2
        with:
          repository: "micro/micro"

      - name: Fetch tags
        run: git fetch --prune --unshallow

      - name: Build profile
        run: |
          go mod edit -replace google.golang.org/grpc=google.golang.org/grpc@v1.26.0
          go run . init --package=github.com/m3o/platform/profile/platform --output=profile.go
          GOPROXY=direct go get

      - name: Publish to platform image to registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: m3o/platform
          username: ${{ secrets.GHCR_ACTOR }}
          password: ${{ secrets.GHCR_PAT }}
          snapshot: true
          registry: ghcr.io

      - name: Build and push cells to registry
        run: cd service/runtime/cells; bash build.sh
        env:
          USERNAME: ${{ secrets.GHCR_ACTOR }}
          PASSWORD: ${{ secrets.GHCR_PAT }}
          DOCKER_DOMAIN: ghcr.io
          IMAGE: m3o/cells
